<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <div class="principal">
        
        <header>
            <img class="img" src="pixil-frame-0.png" alt="não carregou">
            <p> Pixels! </p>
        </header>

        <section>
            <p>o que são pixels?</p>
            <p>São quadradinhos, solidos, de uma única cor, e que, em conjunto formam uma imagem</p><P></P>
            <img class="img2" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Pixel_Art_Cat_with_Zoom-in_Detail.png" alt="não carregou">
        </section>

        <aside>
            <img class="barra-lateralimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZzErxLndkmBbnH_mAJ5bJuQAIxaKXkM82fETxP8NcJZF6SaMQ8tfRqI5vO-yeO1sTZ18&usqp=CAU" alt="não carregou">
        </aside>

        <footer>
            <div class="parte1"><p>Como mostrado na imagem a cima, pixels podem ter uma única cor dentro de um espectro de cores, o RGB</p></div>
            <div class="parte2"><p></p> <img class="img3" src="https://img.freepik.com/vetores-premium/seletor-de-seletor-de-espectro-de-roda-de-cores-rgb-logotipo-de-paleta-rgb-circulo-de-diagrama-de-arco-iris-de-cores_514344-696.jpg?w=2000" alt=""></p></div>
            <div class="parte3"><p>Com estes padrões qualquer imagem pode ser feita usando vários e vários pixels!</p></div>
        </footer>

    </div>

    
</body>
</html>