.fundo{
    width: 100%;                            /*ocupa toda a a tela*/
    height: calc(600px - 6px);                /*altura*/
    border-bottom: 6px solid orange;      /*borda*/
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;                     /*img de fundo ajustada*/
    background-attachment: fixed;           /*deixa a imagem de fundo fixa*/
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/18/Tr%C3%AAs_Morrinhos_-_Terra_Rica_-_PR.jpg);
}

.aviao{
    width: 350px;
    position: absolute;
    right: -10px;
    top: 200px;
}

.card{
    margin-bottom: 50px;
    box-shadow: 2px 2px 20px black;
    transition: 2s;
    height: 420px;
}

.card:hover{
    width: 20rem !important;
    transition: 2s;
}

.carousel{
    box-shadow: 2px 2px 20px black;
}

.rodape{
    color: white !important;
    padding-top: 30px;
    border-top: 5px solid rgb(255, 213, 0);
    padding-bottom: 30px;

}

a{
    color: white !important;
}


.informacao{
    padding-top: 30px;
}

.img-fluid{
     box-shadow: 2px 2px 20px black;
     margin-top: 20px;
     margin-bottom: 30px;
     border-radius: 30px;
     transition: 2s;
}

.img-fluid:hover{
    transition: 2s;
    filter: contrast(130%);
}

.preco{
    font-size: 20px !important;
    padding: 10px !important;
    border-bottom: 8px solid #dc3545 !important;

}

.doc{
    padding-top: 30px;
}

.viagemTexto{
    font-family: travel;
    color: black;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    animation: flutuando 5s;
}

@keyframes flutuando{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}